
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#img{
  height: 300px;
  width: 200px;
  align-self: center;
}

body{
opacity: 1;
background-image:  linear-gradient(135deg, #dcd9f8 25%, transparent 25%), linear-gradient(225deg, #dcd9f8 25%, transparent 25%), linear-gradient(45deg, #dcd9f8 25%, transparent 25%), linear-gradient(315deg, #dcd9f8 25%, #a2edce 25%);
background-position:  40px 0, 40px 0, 0 0, 0 0;
background-size: 80px 80px;
background-repeat: repeat;
}

a a{
  text-decoration: none;
  color: white
}

.spinner{
  height: 100vh;
}

.navBar.container-fluid a{
  color: white;
}




.libroDetail button, .libroDetail button:focus, .libroDetail button:active {
  background-color: #dcd9f8 ;
  border: 1px solid #766ae0 ;
  color: #4a3bcf;
  outline: #4a3bcf;
}

.libroDetail button:hover {
  background-color: #4a3bcf;
  border: 1px solid black;
  color: #ffb2a9;
  font-weight: bold;
}


.libroDetail button {
  background-color: #a2edce
}

.libroDetail button:hover {
  color: white;
}


.h-6.w-6{
  color: white;
}